.app {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.time {
  font-size: 3rem;
  padding: 2rem;
}

.btn {
  padding: 0.6rem 1.5rem;
  margin: 0.4rem;
  border-radius: 3px;
  border-style: groove;
}

.btn:focus {
  outline-width: 0;
}
